@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

.prose h1 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.prose h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.prose p {
    margin-bottom: 1em;
}

.prose ul, .prose ol {
    margin-bottom: 1em;
    padding-left: 1.5em;
}

.prose li {
    margin-bottom: 0.5em;
}